<!DOCTYPE HTML>
<html>
    <head>
        <title>Angular Reload</title>
        <script src="../../angular1_5.min.js" type="text/javascript"></script>
        <script src="angular-resource.js" type="text/javascript"></script>
    </head>
    <body >
        <div ng-app="bycycle_module">
        <div ng-controller="bycycle_controller">
        <div>
        <ul>
            <li><span ng-click="list_bycycles()">List Bycycles</span></li>
            <li><span ng-click="show_bycycle()">Show Bycycle</span> <input name="id" placeholder="Id Bycycle" ng-model="bycycle.id" /></li>
            <li>
                <span ng-click="save_bycycle()">Create Bycycle : </span>
                <input name="name" placeholder="Name" ng-model="bycycle.name" /> &nbsp; <input name="series" placeholder="Series" ng-model="bycycle.series" />
            </li>
            <li>
                <span ng-click="update_bycycle()">Update Bycycles</span><input name="id" placeholder="Id Bycycle" ng-model="bycycle.id" />                     <br />
                <input name="name" placeholder="Name" ng-model="bycycle.name" /> &nbsp; <input name="series" placeholder="Series" ng-model="bycycle.series" />
            </li>
            <li><span ng-click="delete_bycycle()">Delete Bycycle</span> <input name="id" placeholder="Id Bycycle" ng-model="bycycle.id" /></li>
        </ul>
    </div>
    <div>{{ bycycles.message }}</div>
    <div>Name : {{ bycycles.name }} &nbsp; Series : {{ bycycles.series }}</div>
    <table>
        <thead>
            <tr>
            <th width="50px">ID</th>
            <th width="150px">Name</th>
            <th width="150px">Series</th>
            <th width="150px">Created At</th>
            <th width="150px">Modified At</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr ng-repeat="bycycle in bycycles">
                <td>{{ bycycle.id }}</td>
                <td>{{ bycycle.name }}</td>
                <td>{{ bycycle.series }}</td>
                <td>{{ bycycle.created_at }}</td>
                <td>{{ bycycle.updated_at }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    <script src="module-file.js"></script>
    </body>
</html>
