<!DOCTYPE html>
<html>
<head>
	<title>Training AngularJS - Controller</title>
</head>
<body>
	<div ng-app="appModule">

		<b><i>Example Controller - with Method</i></b>
		<div ng-controller="appCtrlUser">
			<p ng-bind="name">{{name}}</p>
			<p ng-click="rename('AngularJS')">Click Me</p>
			<p>Job : {{job}}</p>
			<p> Skill : <br />
				<span ng-repeat="skill in skills">{{skill}} <br /></span>
			</p>
		</div>
		<hr>

		<b><i>Example Directive</i></b>
			<div hellodirective></div>
		<hr>

		<b><i>Example Partial Page</i></b>
			<div loadexternal></div>
		<hr>

		<b><i>Example Consume Scope</i></b>
		<div ng-controller="ctrldirective">	
			<p getplayer></p>
		</div>
		<hr>

		<b><i>Example Bind Element</i></b>
		<div ng-controller="ctrldirective2">	
			<p getplayer2 selectscope='playerOne'></p>
			<p getplayer2 selectscope='playerTwo'></p>
		</div>
		<hr>

	</div>

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js" type="text/javascript"></script> -->
	<script src="../angular1_5.min.js" type="text/javascript"></script>
	<script src="module-file.js" type="text/javascript"></script>
</body>
</html>