<!DOCTYPE html>
<html>
<head>
	<title>Training AngularJS - View</title>
</head>
<body>
	<div ng-app="appModule">
		<div ng-controller="ctrlform">
			<h3><i>Example Form Basic</i></h3>
			<form name="form">
				<label for="name">Name : </label>
				<input type="text" ng-model="user.name" name="name"><br>

				<label for="email">Email : </label>
				<input type="text" ng-model="user.email" name="email"><br>

				<label for="url">Url : </label>
				<input type="text" ng-model="user.url" name="url"><br>

				<label for="age">Age : </label>
				<input type="text" ng-model="user.age" name="age"><br>

				<input type="submit" ng-click="save_data(user)" value="Save Player"><br>
			</form>

			<h3>Saved Data</h3>
			<p>Name : <span ng-bind="saved.name"></span></p>
			<p>Email : <span ng-bind="saved.email"></span></p>
			<p>Url : <span ng-bind="saved.url"></span></p>
			<p>Age : <span ng-bind="saved.age"></span></p>
			<hr>

			<h3><i>Example Validation</i></h3>
			<form name="form" novalidate>
				Vir Name : <input type="text" ng-model="vir.name" name="name" validname required><br>
				<p ng-show="form.name.$error.validname" class="error">Name only allow character, dot and space</p>
				<p ng-show="form.name.$error.required" class="error">Name required</p>
				
				Vir Email : <input type="text" ng-model="vir.email" name="email" validemail required><br>
				<p ng-show="form.email.$error.validemail" class="error">Email not valid format</p>
				<p ng-show="form.email.$error.required" class="error">Email required</p>
				
				Vir Url : <input type="text" ng-model="vir.url" name="url" validurl required><br>
				<p ng-show="form.url.$error.validurl" class="error">Url not valid format</p>
				<p ng-show="form.url.$error.required" class="error">Url required</p>
				
				Vir Age : <input type="text" ng-model="vir.age" name="age" validage required> Year<br>
				<p ng-show="form.age.$error.validage" class="error">Only allow decimal positif</p>
				<p ng-show="form.age.$error.required" class="error">Age required</p>
			</form>

			<h3>Result Data : </h3>
			<p ng-bind="vir.name"></p>
			<p ng-bind="vir.email"></p>
			<p ng-bind="vir.url"></p>
			<p ng-bind="vir.age"></p>
			<hr>
		</div>
	</div>

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js" type="text/javascript"></script> -->
	<script src="../angular1_5.min.js" type="text/javascript"></script>
	<script src="module-file.js" type="text/javascript"></script>
</body>
</html>